<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>PoseLock</string>
	<key>CFBundleName</key>
	<string>PoseLock</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>PoseLock utilise la caméra pour noter ta pose sur l’appareil. La vidéo de session ne quitte pas l’iPhone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PoseLock peut enregistrer une copie des photos lockées dans l’album Photos, uniquement si tu l’actives dans Réglages.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
